$color-primary: #1d4ed8;
$color-white: #fff;
$color-slate: #f1f5f9;
$color-grey-dark: #94a3b8;
$color-grey-light: #e5e7eb;
$color-neutral-400: #d4d4d4;
$color-orange-400: #ea580c;
$color-green-400: #059669;

$largest: 96em;
$large: 75em;
$medium: 56.25em;
$small: 40em;
$smallest: 22em;